
<div class="title">
  <h3>Post</h3>
  <div id="post-info">
    <table>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th></th>
      </tr>
      <tr>
        <td><%= @post.title %></td>
        <td><%= @post.body %></td>
        <td>
          <a class="edit-button" href=<%=
            # link_to  "Edit",
            '/'
          %>>Edit</a>
          <a class="delete-button" href=<%=
            # link_to  "Delete", post_path, data: {
            # turbo_method: :delete,
            # turbo_confirm: "Are you sure?"}
            '/'
          %>>Delete</a>
        </td>
      </tr>
    </table>
  </div>
</div>
